*,
*::before,
*:after {
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: auto;
}

.carousel {
  max-width: 600px;
  position: relative;
}

.carousel-item {
  display: none;
  position: absolute;
  z-index: -1;
}

.carousel-item img {
  max-width: 600px;
  object-fit: cover; /* make image take up entire div "carousel item"*/
}

.carousel-item-visible {
  display: unset;
}

/* buttons */
.carousel-actions {
  padding: 200px 0 20px 0;
}

#carousel-button-prev {
  float: left;
  margin-left: 10px;
}

#carousel-button-next {
  float: right;
  margin-right: 10px;
}
