*,
*::before,
*:after {
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: auto;
}

.carousel {
  max-width: 600px;
  position: relative;
}

.carousel-item {
  display: none;
  position: absolute;
  z-index: -1;
}

.carousel-item img {
  width: 100%;
  height: auto; /*height and width for responsive*/
  max-width: 600px;
  object-fit: cover; /* make image take up entire div "carousel item"*/
}

.carousel-item-visible {
  display: block;
}

/* buttons */
.carousel-actions {
  padding: 200px 0 20px 0;
  justify-content: space-between;
  position: absolute;
}

.btn {
  font-size: 30px;
  font-weight: bold;
  background: #fff;
  border-radius: 50%;
  padding: 10px 15px;
  border: none;
}
